<div class="heroes-container">
  <h3>Heroes List</h3>
  <ul>
    <li *ngFor="let hero of heroes" class="hero" (click)="onSelect(hero)">
      <span class="hero-id">{{ hero.id }}</span>
      <span class="hero-name">{{ hero.name }}</span>
    </li>
  </ul>
</div>
<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>id: {{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">hero name:</label>
    <input type="text" id="hero-name" [(ngModel)]="selectedHero.name" />
  </div>
</div>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
